* {
  box-sizing: border-box;
}

#q4Wrapper {
  background-color: #2A3035;
  font-family: "Roboto", sans-serif;
  color: white;
}
#q4Wrapper h1, #q4Wrapper h3 {
  margin: 0;
}
#q4Wrapper h1 {
  font-size: 48px;
}
#q4Wrapper h3 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
#q4Wrapper header, #q4Wrapper footer {
  background-color: #22272B;
}
#q4Wrapper header {
  padding: 20px;
}
#q4Wrapper footer {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
#q4Wrapper article {
  text-align: center;
}
#q4Wrapper article img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
#q4Wrapper a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}
#q4Wrapper a:hover {
  transform: scale(1.05);
}
#q4Wrapper a span {
  opacity: 0.5;
}

.layout_inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
}
.layout_header {
  margin-bottom: 30px;
  text-align: center;
}

/* Begin styling the report items here! */

*{
  font-family: 'Roboto', sans-serif;
  background-color: #2b3034;
}

.reports {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 30px;
}

h1{
  color: white;
  font-size: 50px;
  background:#23272a;
  padding: 20px;
}

.reports_docs{
  background: #23272a;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.reports_docs a{
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.reports_title{
  background: #23272a;
}

.reports_item img{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.layout_container{
  display: flex;
  justify-items: center;
}

article.reports_item{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 30px;
}

h3.reports_title {
  margin: 0;
}

article footer{
  padding: 13px;
  margin-top: 13px;
  border-radius: 5%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* media queries */
@media (max-width: 768px) {

  .reports {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
  }

  .reports{
    margin: 0 auto;
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {

  .reports {
    display: grid;
    grid-template-columns: 100%;

  }
}
